<section class="container py-4">
  <div class="row g-3">
    @for (c of lista; track c.nome) {
      <div class="col-6 col-md-4 col-lg-2">
        <a routerLink="/vitrine" [queryParams]="{ categoria: c.nome }"
           class="card h-100 border-0 text-center text-decoration-none card-cat"
           [style.background]="c.cor">
          <div class="card-body d-flex flex-column align-items-center">
            <img [src]="c.img" [alt]="c.nome" class="sprite mb-2">
            <h6 class="card-title fw-bold mb-1">{{ c.nome }}</h6>
            <small class="text-secondary">{{ c.desc }}</small>
          </div>
        </a>
      </div>
    }
  </div>
</section>