<section class="hero" style="background-image: url('imagens/Pokemart_imagem.jpg')">
  <div class="container">
    <div class="texto">
      <span class="selo">Sua jornada começa aqui!</span>
      <h1>Equipamentos, poções e tudo o que precisar para o seu <span>time!</span></h1>
      <p>Seja você um treinador iniciante ou um mestre experiente, aqui você encontra os melhores itens para viver grandes aventuras!</p>
      <a href="#" class="btn btn-pk btn-lg px-4">
        Ver produtos <i class="bi bi-chevron-right ms-2"></i>
      </a>
    </div>
  </div>
</section>